includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/
        - routes/
    
    # Nivel de análisis (0-9, siendo 9 el más estricto)
    # Comenzamos con nivel 5 para un balance entre calidad y pragmatismo
    level: 5
    
    # Archivos y directorios a ignorar
    excludePaths:
        - database/migrations/*
        - vendor/
        - storage/
        - bootstrap/cache/
    
    # Reportar propiedades no inicializadas
    reportUnmatchedIgnoredErrors: false
    
    # Ignorar algunos errores comunes de Laravel
    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Cannot call method [a-zA-Z]+\(\) on (.*)\|null#'
    
    # Habilitar verificaciones adicionales
    checkOctaneCompatibility: false
    checkModelProperties: true


